body {
    background: gray;
}

.my-card {
    width: 16rem;
    height: 25rem;
}

.my-btn {
    background-color: white;
    width: 7rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    color: rgba(223, 245, 23, 0.938);
}

.my-img {
    width: 70%;
    text-align: center;
}